@font-face {
  font-family: 'outfit';
  src: url('./fonts/outfit.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'outfit', sans-serif;
  height: 100%;
  background-color: hsl(210, 8%, 5%);
  color: hsl(217, 75%, 95%);
}

a {
  text-decoration: none;
  color: hsl(210, 100%, 60%);
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: hsl(210, 10%, 7%);
  margin-top: 12px;
  margin-bottom: 50px;
  border-radius: 12px;
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.header ul li a {
  margin-right: 12px;
  color: hsl(217, 75%, 95%);
}

.header ul li svg {
  color: hsl(210, 100%, 60%);
}

.header ul li a:hover {
  color: hsl(210, 100%, 60%);
}

.header ul li a svg {
  margin-right: 5px;
}

.header .logo a {
  font-weight: 800;
  font-size: 2rem;
  color: hsl(210, 100%, 60%) !important;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  padding: 0 20px;
}

.heading p {
  color: hsl(210, 100%, 60%);
  font-size: 18px;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: hsl(210, 12%, 10%);
  padding: 20px 10px;
  position: relative;
  cursor: pointer;
  transition: background-color ease 150ms;
}

.goal:hover {
  background-color: hsl(210, 100%, 60%);
}

.goal h2 {
  font-size: 20px;
}

.goal .date {
  margin-bottom: 12px;
}

.goal .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
}

.content.goals-section {
  margin-top: 40px !important;
  margin-bottom: 40px;
}

.content.goals-section .heading {
  color: hsl(210, 100%, 60%);
}

.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 12px;
  border: 1px solid hsl(210, 12%, 10%);
  background-color: hsl(210, 10%, 7%);
  color: hsl(217, 75%, 95%);
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
  outline: none;
  transition: ease border 150ms;
}

.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
  border-color: hsl(210, 100%, 60%);
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 14px 20px;
  border: 1px solid hsl(210, 100%, 60%);
  border-radius: 5px;
  background: hsl(210, 100%, 60%);
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease transform 150ms;
}

.form-group .btn {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group .btn svg {
  margin-left: 12px;
  width: 8px;
}

.btn svg {
  margin-right: 8px;
}

.btn.logout-btn svg {
  color: hsl(0, 0%, 100%);
}

.btn-reverse {
  background: hsl(0, 0%, 100%);
  color: hsl(210, 100%, 60%);
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.99);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: hsla(213, 9%, 19%, 0.936);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: hsl(210, 100%, 60%) transparent hsl(210, 82%, 47%) transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}
